<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="author" content="Azat" />
  <title>React + Express = ❤️</title>
</head>

<body>
  {{!-- 从about变量输出未转义的HTML --}}
  <div id="content">{{{about}}}</div>
</body>

</html>